<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AtlasSampleManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="AtlasSampleManager.AtlasSampleManagement" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="AtlasSampleManager.Properties.Settings.AtlasProdGCVConnectionString"
        connectionString="Data Source=.;Initial Catalog=AtlasProdGCV;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="AtlasSampleManager.Properties.Settings.Atlas_PRODGCV_WODConnectionString"
        connectionString="Data Source=WOD-FS01;Initial Catalog=Atlas_PRODGCV_WOD;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="AtlasSampleManager.Properties.Settings.Atlas_PRODGCV_WODConnectionString1"
        connectionString="Data Source=.;Initial Catalog=Atlas_PRODGCV_WOD;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <AtlasSampleManager.Properties.Settings>
            <setting name="AtlasGradeControlDatabase" serializeAs="String">
                <value>Server=.;Database=Atlas_PRODGCV_WOD;Trusted_Connection=True;</value>
            </setting>
            <setting name="AtlasOperation" serializeAs="String">
                <value>???</value>
            </setting>
            <setting name="Laboratory" serializeAs="String">
                <value>Intertek</value>
            </setting>
            <setting name="AtlasCompany" serializeAs="String">
                <value>Atlas</value>
            </setting>
            <setting name="AtlasSubmissionBSNameSuffix" serializeAs="String">
                <value>ATLAS IRON PDO_BS_</value>
            </setting>
            <setting name="AtlasSubmissionPSNameSuffix" serializeAs="String">
                <value>ATLAS IRON PDO_PS_</value>
            </setting>
            <setting name="BSSubmissionDirectory" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Samples\Blastholes\Submissions</value>
            </setting>
            <setting name="BSResultsDirectory" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Samples\Blastholes\GeochemicalResults</value>
            </setting>
            <setting name="BSAcceptedResultsDirectory" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Samples\Blastholes\AcceptedResults</value>
            </setting>
            <setting name="PSSubmissionDirectory" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Samples\Product\Submissions</value>
            </setting>
            <setting name="PSResultsDirectory" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Samples\Product\GeochemicalResults</value>
            </setting>
            <setting name="PSAcceptedResultsDirectory" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Samples\Product\AcceptedResults</value>
            </setting>
            <setting name="LaboratoryEmailList" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Samples\Blastholes\ShotSampling</value>
            </setting>
            <setting name="PSChangeStockpileSampleType" serializeAs="String">
                <value>CH</value>
            </setting>
            <setting name="BSPendingShotSampling" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Samples\Blastholes\ShotSampling</value>
            </setting>
            <setting name="iHubPendingDirectory" serializeAs="String">
                <value>\\per-pdms\iHub\Pending</value>
            </setting>
            <setting name="iHubProcessedDirectory" serializeAs="String">
                <value>\\per-pdms\iHub\Processed</value>
            </setting>
            <setting name="iHubProcessingDirectory" serializeAs="String">
                <value>\\per-pdms\iHub\Processing</value>
            </setting>
            <setting name="iHubErrorDirectory" serializeAs="String">
                <value>\\per-pdms\iHub\Error</value>
            </setting>
            <setting name="TempDirectory" serializeAs="String">
                <value>c:\temp\</value>
            </setting>
            <setting name="AtlasMinemarketLinkDatabase" serializeAs="String">
                <value>Server=per10dc01\\atlasiron;Database=Atlas_PRODGCV_WOD;Trusted_Connection=False;user=gcv;password=praxis666!</value>
            </setting>
            <setting name="PSSttartOfShiftStockpileSampleType" serializeAs="String">
                <value>CS</value>
            </setting>
            <setting name="PSEndOfShiftStockpileSampleType" serializeAs="String">
                <value>CE</value>
            </setting>
            <setting name="PSShiftTimeOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigDirectory" serializeAs="String">
                <value>W:\12_Daily_Report\Sample Manager</value>
            </setting>
            <setting name="CrusherStreams" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Main</string>
                        <string>Auxillary</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AtlasSampleManager.Properties.Settings>
        <AtlasSampleManager.AtlasSampleManagement>
            <setting name="AtlasSubmissionBSNameSuffix" serializeAs="String">
                <value>ATLAS IRON PDO_BS_</value>
            </setting>
            <setting name="AtlasCompany" serializeAs="String">
                <value>Atlas</value>
            </setting>
            <setting name="Laboratory" serializeAs="String">
                <value>Intertek</value>
            </setting>
            <setting name="AtlasOperation" serializeAs="String">
                <value>PDO</value>
            </setting>
            <setting name="SubmissionDirectory" serializeAs="String">
                <value>D:\Home\Clients\ati005\data\Submissions\Submissions</value>
            </setting>
            <setting name="ResultsDirectory" serializeAs="String">
                <value>D:\Temp\ProductionReporting\PDO\ServiceProviders\Intertek\BlastholeAnalysis\GeochemicalResults</value>
            </setting>
            <setting name="AcceptedResultsDirectory" serializeAs="String">
                <value>D:\Temp\ProductionReporting\PDO\ServiceProviders\Intertek\BlastholeAnalysis\AcceptedResults</value>
            </setting>
            <setting name="DespatchedFromMineDirectory" serializeAs="String">
                <value>D:\Temp\ProductionReporting\PDO\ServiceProviders\Intertek\BlastholeAnalysis\SampleDespatch</value>
            </setting>
            <setting name="PendingForPreparationDirectory" serializeAs="String">
                <value>D:\Temp\ProductionReporting\PDO\ServiceProviders\Intertek\BlastholeAnalysis\PreparationReception</value>
            </setting>
            <setting name="PendingForAnalysisDirectory" serializeAs="String">
                <value>D:\Temp\ProductionReporting\PDO\ServiceProviders\Intertek\BlastholeAnalysis\AnalyticalReception</value>
            </setting>
            <setting name="ArrivedAtAnalysisDirectory" serializeAs="String">
                <value>D:\Temp\ProductionReporting\PDO\ServiceProviders\Intertek\BlastholeAnalysis\GeochemicalAnalysis</value>
            </setting>
            <setting name="AtlasSubmissionPSNameSuffix" serializeAs="String">
                <value>ATLAS IRON PDO_PS_</value>
            </setting>
        </AtlasSampleManager.AtlasSampleManagement>
    </userSettings>
</configuration>
