<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AtlasReportAdministrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <AtlasReportAdministrator.Properties.Settings>
            <setting name="ConfigurationFilename" serializeAs="String">
                <value>config.xml</value>
            </setting>
            <setting name="Operation" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigurationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="iHubPendingDirectory" serializeAs="String">
                <value>\\per-pdms\iHub\Pending</value>
            </setting>
            <setting name="iHubProcessedDirectory" serializeAs="String">
                <value>\\per-pdms\iHub\Processed</value>
            </setting>
            <setting name="iHubProcessingDirectory" serializeAs="String">
                <value>\\per-pdms\iHub\Processing</value>
            </setting>
            <setting name="iHubErrorDirectory" serializeAs="String">
                <value>\\per-pdms\iHub\Error</value>
            </setting>
            <setting name="FirstInstallSetup" serializeAs="String">
                <value>True</value>
            </setting>
        </AtlasReportAdministrator.Properties.Settings>
    </userSettings>
</configuration>
